@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{

    background-color: #182428;
}

.autor
{
    transition: all .2s linear;
    font-size: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    color: rgb(207, 226, 245);
    background-color: #3d545c;
    border: none;
    width: 25%;
    height: 18%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;
    opacity: 20%;
}

.babtn
{
    transition: all .2s linear;
    font-size: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    color: rgb(207, 226, 245);
    background-color: #3d545c;
    border: none;
    width: 2%;
    height: 8%;
    position: absolute;
    top: 50%;
    left: 33%;
    opacity: 20%;
    transform: translate(-67%, -50%);
    cursor: pointer;
    user-select: none;
}